<div class="wrapper">
  <div class="sidebar">
    <label for="startDate">Start Date</label>
    <br />
    <input
      type="datetime-local"
      id="startDate"
      [(ngModel)]="startDate"
      (change)="getEvents()"
    />
    <br />
    <br />
    <label for="endDate">End Date</label>
    <br />
    <input
      type="datetime-local"
      id="endDate"
      [(ngModel)]="endDate"
      (change)="getEvents()"
    />
    <br />
    <app-filter
      *ngIf="serviceForm"
      [filterForm]="serviceForm"
      [filterArrayName]="'servicesArray'"
      [filterArray]="servicesArray"
      [filterText]="getServiceFormFilterButton()"
      (onFilterChange)="getEvents()"
      (onFilterClick)="handleServiceFilterClick($event)"
      (onFilterHover)="setServiceHover($event)"
    ></app-filter>
    <br />
    <app-filter
      *ngIf="typeForm"
      [filterForm]="typeForm"
      [filterArrayName]="'typeArray'"
      [filterArray]="typeArray"
      [filterText]="getTypeFormFilterButton()"
      (onFilterChange)="getEvents()"
      (onFilterClick)="handleTypeFilterClick($event)"
      (onFilterHover)="setTypeHover($event)"
    >
    </app-filter>
    <br />
    <app-filter
      *ngIf="stopForm"
      [filterForm]="stopForm"
      [filterArrayName]="'stopArray'"
      [filterArray]="stopArray"
      [filterText]="getStopFormFilterButton()"
      (onFilterChange)="getEvents()"
      (onFilterClick)="handleStopFilterClick($event)"
      (onFilterHover)="setStopHover($event)"
    ></app-filter>
  </div>
  <main class="reports">
    <app-event-list [events]="events"></app-event-list>
  </main>
</div>
